input_files/*
!input_files/mutagenesis_region_reference.csv
!input_files/HOCO_uniprot_to_gene.npz
!input_files/regions.fa
!input_files/regions_coords.csv
!input_files/motifs_dict_PWM_pseudo_bg_exp3_JaspHomoLV24_293tf_647mots_LNCaP_aligned.npz
!input_files/best_models_hyperparams_MSE_647mots.json
!input_files/best_mutagen_hyperparams_MSE_293tfs.json
raw_data/
output_files/*
!output_files/*.pkl
!output_files/*.npy
!output_files/*.joblib
output_files/Contribution_profiles_*.npy
output_files/FeaturesDict_*.pkl
output_files/arbs_700bp_contribution_profiles.pkl
__pycache__/
.ipynb_checkpoints/
*.pyc
